# Variables de entorno de ejemplo para la Base de Datos
# Copia este archivo como .env y ajústalo a tu entorno

# TimescaleDB
POSTGRES_USER=admin_infra
POSTGRES_PASSWORD=TU_PASSWORD_AQUI
POSTGRES_DB=db_infra

# pgAdmin 4
PGADMIN_DEFAULT_EMAIL=admin@infra.local
PGADMIN_DEFAULT_PASSWORD=TU_PASSWORD_AQUI
